IBM cloud AggroFox/noderedflow.ino
[{"id":"9b7b9002.a8cdf","type":"ui_gauge","z":"c6b69093.19cdf","name":"Tempamb","group":"1140416a.87e79f","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"째C","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":762.5,"y":40.649993896484375,"wires":[]},{"id":"a1283b66.e22d88","type":"inject","z":"c6b69093.19cdf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159.5,"y":145.14999389648437,"wires":[["ec58ffc.0b1bd","443ba91c.202e78"]]},{"id":"ec58ffc.0b1bd","type":"http request","z":"c6b69093.19cdf","name":"letempambchannel","method":"GET","ret":"obj","url":"https://api.thingspeak.com/channels/543668/feeds/last.json?api_key=Y2D65E843UREJATJ","tls":"","x":343.5,"y":173.4499969482422,"wires":[["ab42c48d.716928","80521f2e.bf121","ac1e59e4.db6c58","438e7f3f.c75a7","a77e3088.c8002"]]},{"id":"ab42c48d.716928","type":"function","z":"c6b69093.19cdf","name":"Field1","func":"msg.payload = msg.payload.field1\nmsg.topic= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":541.5,"y":154.4499969482422,"wires":[["9b7b9002.a8cdf","49596a4b.dd4434"]]},{"id":"80521f2e.bf121","type":"function","z":"c6b69093.19cdf","name":"Field 2","func":"msg.payload = msg.payload.field2\nmsg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":542.5,"y":218.44998168945312,"wires":[["3bef3ef7.bc29a2","c6f22a4.9b3fed8","9a5cf870.445b68"]]},{"id":"ac1e59e4.db6c58","type":"function","z":"c6b69093.19cdf","name":"Field 3","func":"msg.payload = msg.payload.field3\nmsg.topic = 'Soil Temperature';\nreturn msg;","outputs":1,"noerr":0,"x":544.5,"y":285.4499816894531,"wires":[["68de6a2d.78a794","5188a113.8d92a","d85a4e63.eff66"]]},{"id":"438e7f3f.c75a7","type":"function","z":"c6b69093.19cdf","name":"Field 4","func":"msg.payload = msg.payload.field4\nmsg.topic = 'Soil Temperature';\nreturn msg;","outputs":1,"noerr":0,"x":683.5,"y":478.449951171875,"wires":[["c9547a1b.879028","1ac8a883.78bc87"]]},{"id":"a77e3088.c8002","type":"function","z":"c6b69093.19cdf","name":"Field 5","func":"msg.payload = msg.payload.field5\nmsg.topic = 'Soil Temperature';\nreturn msg;","outputs":1,"noerr":0,"x":637.5,"y":576.4499206542969,"wires":[["3cd75c95.4fcb84","78bc3ff9.bc524"]]},{"id":"49596a4b.dd4434","type":"ui_chart","z":"c6b69093.19cdf","name":"","group":"1140416a.87e79f","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":781.5,"y":168.64999389648437,"wires":[[],[]]},{"id":"3bef3ef7.bc29a2","type":"ui_gauge","z":"c6b69093.19cdf","name":"","group":"347821f3.6d19be","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":796.5,"y":235.64999389648437,"wires":[]},{"id":"c6f22a4.9b3fed8","type":"ui_chart","z":"c6b69093.19cdf","name":"","group":"347821f3.6d19be","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":792.5,"y":275.6499938964844,"wires":[[],[]]},{"id":"68de6a2d.78a794","type":"ui_text","z":"c6b69093.19cdf","group":"cea5e94f.0954a8","order":0,"width":0,"height":0,"name":"","label":"32.2 째C is optimal Heat index","format":"{{msg.payload}}","layout":"row-spread","x":862.5,"y":328.6499938964844,"wires":[]},{"id":"5188a113.8d92a","type":"ui_chart","z":"c6b69093.19cdf","name":"","group":"cea5e94f.0954a8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9367bc","#c5b0d5"],"useOldStyle":false,"x":783.5,"y":371.6499938964844,"wires":[[],[]]},{"id":"d85a4e63.eff66","type":"ui_gauge","z":"c6b69093.19cdf","name":"","group":"cea5e94f.0954a8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"째C","format":"{{value}}","min":"15","max":"44.4","colors":["#fff647","#0fe600","#ca3838"],"seg1":"","seg2":"","x":791.5,"y":415.6499938964844,"wires":[]},{"id":"c9547a1b.879028","type":"ui_gauge","z":"c6b69093.19cdf","name":"","group":"c9ffe2c3.b2bee","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"째C","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":866.5,"y":466.6499328613281,"wires":[]},{"id":"1ac8a883.78bc87","type":"ui_chart","z":"c6b69093.19cdf","name":"","group":"c9ffe2c3.b2bee","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#99df8b","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":863.5,"y":506.6499328613281,"wires":[[],[]]},{"id":"3cd75c95.4fcb84","type":"ui_gauge","z":"c6b69093.19cdf","name":"","group":"9304bf1b.ac483","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":839.5,"y":555.6499328613281,"wires":[]},{"id":"78bc3ff9.bc524","type":"ui_chart","z":"c6b69093.19cdf","name":"","group":"9304bf1b.ac483","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9367bc","#c5b0d5"],"useOldStyle":false,"x":843.5,"y":593.6499328613281,"wires":[[],[]]},{"id":"443ba91c.202e78","type":"openweathermap","z":"c6b69093.19cdf","name":"mexa weather","wtype":"forecast","lon":"","lat":"","city":"Mexico City","country":"MX","language":"en","x":217.5,"y":318.1999816894531,"wires":[["3523ef11.4eee7","1bc1ec1b.d4f2a4"]]},{"id":"3523ef11.4eee7","type":"debug","z":"c6b69093.19cdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":339.5,"y":237.29998779296875,"wires":[]},{"id":"1bc1ec1b.d4f2a4","type":"function","z":"c6b69093.19cdf","name":"","func":"msg.payload= msg.payload[0].weather[0].main\nmsg.count = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":345.5,"y":376.4499816894531,"wires":[["6157b27e.8c557c","fc20c8a5.c4dcb8","f1fa55d7.85bc08","812e4bd7.65cb68"]]},{"id":"6157b27e.8c557c","type":"debug","z":"c6b69093.19cdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":511.5,"y":495.29998779296875,"wires":[]},{"id":"fc20c8a5.c4dcb8","type":"ui_text","z":"c6b69093.19cdf","group":"3f5cb968.f8d436","order":0,"width":0,"height":0,"name":"","label":"Weather forecast for the next 5 hours:","format":"{{msg.payload}}","layout":"row-spread","x":360.5,"y":558.6499633789062,"wires":[]},{"id":"2212c5b0.19bb7a","type":"ParticleFunc out","z":"c6b69093.19cdf","baseurl":"3886ef3f.4174e","devid":"26003d000147353138383138","fname":"led","param":"","once":false,"repeat":0,"consolelog":false,"x":683.5,"y":668.0700073242187,"wires":[["da29a2dc.a8f88"]]},{"id":"7445f24f.29f05c","type":"inject","z":"c6b69093.19cdf","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190.5,"y":626.1499633789062,"wires":[["2212c5b0.19bb7a"]]},{"id":"da29a2dc.a8f88","type":"debug","z":"c6b69093.19cdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":974.5,"y":717.2999877929687,"wires":[]},{"id":"fb83a12f.4205f","type":"inject","z":"c6b69093.19cdf","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159.5,"y":672.1499633789062,"wires":[["2212c5b0.19bb7a"]]},{"id":"9a5cf870.445b68","type":"link out","z":"c6b69093.19cdf","name":"","links":["5adc5c6a.67c864"],"x":779.5,"y":104.30000305175781,"wires":[]},{"id":"5adc5c6a.67c864","type":"link in","z":"c6b69093.19cdf","name":"","links":["9a5cf870.445b68"],"x":77.5,"y":741.1499633789062,"wires":[["812e4bd7.65cb68"]]},{"id":"812e4bd7.65cb68","type":"function","z":"c6b69093.19cdf","name":"","func":"if (msg.topic<=10 && msg.count != 'Rain' && msg.count !=null){\n    msg.payload= 'on'\n}\nelse{\n    msg.payload= 'off'\n}\nreturn msg;","outputs":1,"noerr":0,"x":420.5,"y":702.4500122070312,"wires":[["2212c5b0.19bb7a"]]},{"id":"6d6975f7.289c3c","type":"inject","z":"c6b69093.19cdf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230.5,"y":829.1499633789062,"wires":[["812e4bd7.65cb68"]]},{"id":"f1fa55d7.85bc08","type":"debug","z":"c6b69093.19cdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","x":447.5,"y":785.2999877929687,"wires":[]},{"id":"2f680226.6286ae","type":"inject","z":"c6b69093.19cdf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111.5,"y":406.1499938964844,"wires":[["bf0ba1ad.9a33e"]]},{"id":"bf0ba1ad.9a33e","type":"function","z":"c6b69093.19cdf","name":"","func":"msg.count = 'Arid'\nreturn msg;","outputs":1,"noerr":0,"x":140.5,"y":460.4499816894531,"wires":[["812e4bd7.65cb68"]]},{"id":"1140416a.87e79f","type":"ui_group","z":"","name":"Soil Temperature","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"347821f3.6d19be","type":"ui_group","z":"","name":"Soil Moisture","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"cea5e94f.0954a8","type":"ui_group","z":"","name":"Heat Index","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"c9ffe2c3.b2bee","type":"ui_group","z":"","name":"Temperature (ambient)","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"9304bf1b.ac483","type":"ui_group","z":"","name":"Humidity","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"3f5cb968.f8d436","type":"ui_group","z":"","name":"Weather Forecast","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"3886ef3f.4174e","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"7a49389c0d0d71d270171f3fbab0025354cfcbae","name":"Sandor"},{"id":"dbbcdb89.f7c1c8","type":"ui_tab","z":"","name":"AggroFox","icon":"dashboard"}]
