IBM cloud AggroFox/noderedflow.txt
[{"id":"d71476d5.e80198","type":"ui_gauge","z":"db15ed1.447301","name":"Tempamb","group":"1140416a.87e79f","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"째C","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":818.888916015625,"y":61.111106872558594,"wires":[]},{"id":"741a342.e69decc","type":"inject","z":"db15ed1.447301","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":215.888916015625,"y":165.6111068725586,"wires":[["dd05b948.077978","31701415.b696cc"]]},{"id":"dd05b948.077978","type":"http request","z":"db15ed1.447301","name":"letempambchannel","method":"GET","ret":"obj","url":"","tls":"","x":399.888916015625,"y":193.9111099243164,"wires":[["322f8c31.bd4414","12ed7168.d0c4df","c172e706.5a17b8","72ffade5.3f5ab4","308cd76f.f79048"]]},{"id":"322f8c31.bd4414","type":"function","z":"db15ed1.447301","name":"Field1","func":"msg.payload = msg.payload.field1\nmsg.topic= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":597.888916015625,"y":174.9111099243164,"wires":[["d71476d5.e80198","4f88b838.66f648"]]},{"id":"12ed7168.d0c4df","type":"function","z":"db15ed1.447301","name":"Field 2","func":"msg.payload = msg.payload.field2\nmsg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":598.888916015625,"y":238.91109466552734,"wires":[["c0d96316.47c43","593ff4f5.3adbdc","c62f10b4.e10b7"]]},{"id":"c172e706.5a17b8","type":"function","z":"db15ed1.447301","name":"Field 3","func":"msg.payload = msg.payload.field3\nmsg.topic = 'Soil Temperature';\nreturn msg;","outputs":1,"noerr":0,"x":600.888916015625,"y":305.91109466552734,"wires":[["2406b943.7f83e6","51e17274.c84d4c","1498d2e9.247bfd"]]},{"id":"72ffade5.3f5ab4","type":"function","z":"db15ed1.447301","name":"Field 4","func":"msg.payload = msg.payload.field4\nmsg.topic = 'Soil Temperature';\nreturn msg;","outputs":1,"noerr":0,"x":739.888916015625,"y":498.9110641479492,"wires":[["8de7ad32.016bb","edb70d8.11d02f"]]},{"id":"308cd76f.f79048","type":"function","z":"db15ed1.447301","name":"Field 5","func":"msg.payload = msg.payload.field5\nmsg.topic = 'Soil Temperature';\nreturn msg;","outputs":1,"noerr":0,"x":693.888916015625,"y":596.9110336303711,"wires":[["faa295a5.21e348","573b06ef.515c48"]]},{"id":"4f88b838.66f648","type":"ui_chart","z":"db15ed1.447301","name":"","group":"1140416a.87e79f","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":837.888916015625,"y":189.1111068725586,"wires":[[],[]]},{"id":"c0d96316.47c43","type":"ui_gauge","z":"db15ed1.447301","name":"","group":"347821f3.6d19be","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":852.888916015625,"y":256.1111068725586,"wires":[]},{"id":"593ff4f5.3adbdc","type":"ui_chart","z":"db15ed1.447301","name":"","group":"347821f3.6d19be","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":848.888916015625,"y":296.1111068725586,"wires":[[],[]]},{"id":"2406b943.7f83e6","type":"ui_text","z":"db15ed1.447301","group":"cea5e94f.0954a8","order":0,"width":0,"height":0,"name":"","label":"32.2 째C is optimal Heat index","format":"{{msg.payload}}","layout":"row-spread","x":918.888916015625,"y":349.1111068725586,"wires":[]},{"id":"51e17274.c84d4c","type":"ui_chart","z":"db15ed1.447301","name":"","group":"cea5e94f.0954a8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9367bc","#c5b0d5"],"useOldStyle":false,"x":839.888916015625,"y":392.1111068725586,"wires":[[],[]]},{"id":"1498d2e9.247bfd","type":"ui_gauge","z":"db15ed1.447301","name":"","group":"cea5e94f.0954a8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"째C","format":"{{value}}","min":"15","max":"44.4","colors":["#fff647","#0fe600","#ca3838"],"seg1":"","seg2":"","x":847.888916015625,"y":436.1111068725586,"wires":[]},{"id":"8de7ad32.016bb","type":"ui_gauge","z":"db15ed1.447301","name":"","group":"c9ffe2c3.b2bee","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"째C","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":922.888916015625,"y":487.11104583740234,"wires":[]},{"id":"edb70d8.11d02f","type":"ui_chart","z":"db15ed1.447301","name":"","group":"c9ffe2c3.b2bee","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#99df8b","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":919.888916015625,"y":527.1110458374023,"wires":[[],[]]},{"id":"faa295a5.21e348","type":"ui_gauge","z":"db15ed1.447301","name":"","group":"9304bf1b.ac483","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":895.888916015625,"y":576.1110458374023,"wires":[]},{"id":"573b06ef.515c48","type":"ui_chart","z":"db15ed1.447301","name":"","group":"9304bf1b.ac483","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9367bc","#c5b0d5"],"useOldStyle":false,"x":899.888916015625,"y":614.1110458374023,"wires":[[],[]]},{"id":"31701415.b696cc","type":"openweathermap","z":"db15ed1.447301","name":"mexa weather","wtype":"forecast","lon":"","lat":"","city":"your city","country":"your country","language":"en","x":273.888916015625,"y":338.66109466552734,"wires":[["5f4900a3.6190e","e7a5f1c8.5a3e6"]]},{"id":"5f4900a3.6190e","type":"debug","z":"db15ed1.447301","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":395.888916015625,"y":257.76110076904297,"wires":[]},{"id":"e7a5f1c8.5a3e6","type":"function","z":"db15ed1.447301","name":"","func":"msg.payload= msg.payload[0].weather[0].main\nmsg.count = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":401.888916015625,"y":396.91109466552734,"wires":[["fc38b1e6.25317","f91a9562.a44228","e6fddeb2.80055","25fab1ba.80622e"]]},{"id":"fc38b1e6.25317","type":"debug","z":"db15ed1.447301","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":567.888916015625,"y":515.761100769043,"wires":[]},{"id":"f91a9562.a44228","type":"ui_text","z":"db15ed1.447301","group":"3f5cb968.f8d436","order":0,"width":0,"height":0,"name":"","label":"Weather forecast for the next 5 hours:","format":"{{msg.payload}}","layout":"row-spread","x":416.888916015625,"y":579.1110763549805,"wires":[]},{"id":"f6ffaae2.ceb3b8","type":"ParticleFunc out","z":"db15ed1.447301","baseurl":"","devid":"your device name","fname":"led","param":"","once":false,"repeat":0,"consolelog":false,"x":699.888916015625,"y":688.531120300293,"wires":[["a89561ff.e04d2"]]},{"id":"3256e5e6.f45a0a","type":"inject","z":"db15ed1.447301","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":246.888916015625,"y":646.6110763549805,"wires":[["f6ffaae2.ceb3b8"]]},{"id":"a89561ff.e04d2","type":"debug","z":"db15ed1.447301","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030.888916015625,"y":737.761100769043,"wires":[]},{"id":"6dfced87.1b7e54","type":"inject","z":"db15ed1.447301","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":215.888916015625,"y":692.6110763549805,"wires":[["f6ffaae2.ceb3b8"]]},{"id":"c62f10b4.e10b7","type":"link out","z":"db15ed1.447301","name":"","links":["17e4713e.55e1bf"],"x":835.888916015625,"y":124.76111602783203,"wires":[]},{"id":"17e4713e.55e1bf","type":"link in","z":"db15ed1.447301","name":"","links":["c62f10b4.e10b7"],"x":133.888916015625,"y":761.6110763549805,"wires":[["25fab1ba.80622e"]]},{"id":"25fab1ba.80622e","type":"function","z":"db15ed1.447301","name":"","func":"if (msg.topic<=10 && msg.count != 'Rain' && msg.count !=null){\n    msg.payload= 'on'\n}\nelse{\n    msg.payload= 'off'\n}\nreturn msg;","outputs":1,"noerr":0,"x":476.888916015625,"y":722.9111251831055,"wires":[["f6ffaae2.ceb3b8"]]},{"id":"e6fddeb2.80055","type":"debug","z":"db15ed1.447301","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","x":503.888916015625,"y":805.761100769043,"wires":[]},{"id":"9ec9146.d9b39e8","type":"inject","z":"db15ed1.447301","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":167.888916015625,"y":426.6111068725586,"wires":[["b7785f17.e9d8a"]]},{"id":"b7785f17.e9d8a","type":"function","z":"db15ed1.447301","name":"","func":"msg.count = 'Arid'\nreturn msg;","outputs":1,"noerr":0,"x":196.888916015625,"y":480.91109466552734,"wires":[["25fab1ba.80622e"]]},{"id":"abb64b9d.401e58","type":"inject","z":"db15ed1.447301","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":286.888916015625,"y":849.6110763549805,"wires":[["25fab1ba.80622e"]]},{"id":"1140416a.87e79f","type":"ui_group","z":"","name":"Soil Temperature","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"347821f3.6d19be","type":"ui_group","z":"","name":"Soil Moisture","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"cea5e94f.0954a8","type":"ui_group","z":"","name":"Heat Index","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"c9ffe2c3.b2bee","type":"ui_group","z":"","name":"Temperature (ambient)","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"9304bf1b.ac483","type":"ui_group","z":"","name":"Humidity","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"3f5cb968.f8d436","type":"ui_group","z":"","name":"Weather Forecast","tab":"dbbcdb89.f7c1c8","disp":true,"width":"6","collapse":false},{"id":"dbbcdb89.f7c1c8","type":"ui_tab","z":"","name":"AggroFox","icon":"dashboard"}]
